## Variables and Data Type

In [1]:
phone_number = 456249 

print(phone_number)

456249

In [2]:
name = "Phitron"

print(name)

Phitron

In [4]:
age = 20
height = 5.6
name = "Akash"
is_passed = True

print(type(age), type(height), type(name), type(is_passed))

age = 20.5

print(type(age))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
<class 'float'>

## Taking Input in Python

In [2]:
name = input("What is your name? ")

print(name)

Phitron

In [6]:
age = input("Age ?")

print(age, type(age))

20 <class 'str'>

In [7]:
age = input("Age ?")

age = int(age)

print(age, type(age))

20 <class 'int'>

In [ ]:
height = input("Height ?")

print(height, type(height))

20.3 <class 'str'>

In [10]:
height = float(input("Height ?"))

print(height, type(height))

height = height + 0.2

print(height)

20.5 <class 'float'>
20.7

## Operators in Python

In [ ]:
x = 10 ; y = 3

sum = x + y
sub = x - y
mult = x * y
div = round(x / y, 2) 

rem = x % y

print(sum, sub, mult, div, rem)

13 7 30 3.33 1

In [17]:
x = 10 ; y = 3

greater_than = x > y

greater_than_equal = (10 >= 10)

print(greater_than, greater_than_equal)

less_than = x < y

less_than_equal = (10 <= 10)

print(less_than, less_than_equal)

equal = x == y

print(equal)

not_equal = x != y
print(not_equal)

True True
False True
False
True

## Logical Operator

In [24]:
x = 10 ; y = 5 ; z = 3

result = (x > y) and (x > z)

print(result)

True

In [25]:
x = 10 ; y = 5 ; z = 15

result = (x > y) and (x > z)

print(result)

False

In [26]:
x = 10 ; y = 5 ; z = 15

result = (x > y) or (x > z)

print(result)

True

In [27]:
x = 10 ; y = 20 ; z = 15

result = (x > y) or (x > z)

print(result)

False

## Precedence and Associativity

In [3]:
eq = 10 + 10/2 - 5*2 # precedency maintain korbe
print(eq)

eq = (10+10)/2 - 5*2 ## ekhane bracket e part tuku ageh compute hobe 

print(eq)

5.0
0.0

## Problem : Digit Summation

In [35]:
inp = input()

numbers = inp.split()

x = int(numbers[0]) 

y = int(numbers[1])

last_digit_of_x =  x % 10
last_digit_of_y = y % 10

sum = last_digit_of_x + last_digit_of_y

print(sum)

5

In [40]:
num = float(input())
print(type(num))

<class 'float'>