### Tuples

In [1]:
# declaration 

tup = (10,20,30,40) 

float_tup = (10.5,10.2)
mixed_tup = (10 , 10.5 , "str", True) 


lst = [10,20,30]

tup1 = tuple(lst)

print(type(tup1), tup1)

<class 'tuple'> (10, 20, 30)

In [2]:
# Access 
tup = ( 10 , 20 , 30 , 10.5 , "str" , False )

#index 
print(tup[3]) 

# slicing 

new_tup = tup[0:3]
print(new_tup)

10.5
(10, 20, 30)

In [3]:
# mutable

lst = [ 10 , 20 , 30 , 40 ] 
lst.append(60)
lst[1] = 100
print(lst)

# immutable
tup= ( 10 , 20 , 30 , 40 ) 
tup[1]= 100 
print(tup)

[10, 100, 30, 40, 60]

TypeError: 'tuple' object does not support item assignment

In [4]:
# tuple method 
tup= ( 10 , 20 , 30 , 40 , 10 , 20 , 30 ,10 )

print(tup.count(10))
print(tup.index(40))

3
3

### Set

In [5]:
A = { 1, 2 , 3 } 

print(type(A) , A )

<class 'set'> {1, 2, 3}

In [6]:
## empty structures 
B = [] 

print(type(B)) 

C= () 

print(type(C))


S = set()

print(type(S))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [7]:
#accessing 

S= { 1 ,2 ,3 , 4 ,1 ,2 } 

if (10 in S):
    print("3 is present")
else:
    print("not present")

sum =0 

for element in S:
    sum+= element 

print(sum)

not present
10

In [8]:
#mutable

s= {5, 1 , 2 ,4, 3} 

s.add(10) 
s.add(0)

print(s)

s.pop()
s.pop()
print(s)

s.remove(5) 

print(s)

{0, 1, 2, 3, 4, 5, 10}
{2, 3, 4, 5, 10}
{2, 3, 4, 10}

### Set Mathematical Methods

In [9]:
a = { 1, 2, 3 } 
b = {1, 2 , 5,6, 4 } 

print( a.union(b) )

print(a.intersection(b)) 


print(a.isdisjoint(b)) 


print(a.issubset(b))

{1, 2, 3, 4, 5, 6}
{1, 2}
False
False

### Dictionaries in Python

In [10]:
# empty 
dic = {}
print(type(dic))

dic ={ "name" : "Phitron" , "age": 20 , "address" : "Dhaka" , "numbers":[10,20,30]} 

print(type(dic) , dic)

<class 'dict'>
<class 'dict'> {'name': 'Phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [11]:
# access 
# dic_name[key]

print(dic["numbers"])
print( dic.get("age"))


dic["name"] = "Phitron AI/ML" 

dic ={ "name" : "Phitron" , "age": 20 , "address" : "Dhaka" , "numbers":[10,20,30],"age":30}
print(dic)

[10, 20, 30]
20
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [12]:
#printing default values
print(dic) 

print(dic.get("math_marks"))
print(dic.get("math_marks",0))

{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30]}
None
0

In [13]:
# adding a value

dic ={ "name" : "Phitron" , "age": 20 , "address" : "Dhaka" , "numbers":[10,20,30],"age":30}

print(dic)
dic["math_marks"]= 30 
print(dic) 
dic.update({"english_marks": 40}) 

print(dic)

{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30]}
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30}
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30, 'english_marks': 40}

In [14]:
# deleting 

del dic["math_marks"]
print(dic)

{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'english_marks': 40}

In [15]:
dic_2=dic.copy()
print(dic_2)

{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'english_marks': 40}

In [16]:
# testing 

dic_3 = { {"name" : "adil" , "age" :20} : 20 }
print(dic_3)

TypeError: unhashable type: 'dict'

### Iterating over Dictionary

In [17]:
dic ={ "name" : "Phitron" , "age": 20 , "address" : "Dhaka" , "numbers":[10,20,30],"age":30}

keys = dic.keys()

print(keys)

dic["math_numebers"] = 30 

print(keys) 

values = dic.values() 

print(values) 

dic["math_numebers"] = 40 
print(values) 

items = dic.items() 

print(items)

dict_keys(['name', 'age', 'address', 'numbers'])
dict_keys(['name', 'age', 'address', 'numbers', 'math_numebers'])
dict_values(['Phitron', 30, 'Dhaka', [10, 20, 30], 30])
dict_values(['Phitron', 30, 'Dhaka', [10, 20, 30], 40])
dict_items([('name', 'Phitron'), ('age', 30), ('address', 'Dhaka'), ('numbers', [10, 20, 30]), ('math_numebers', 40)])

In [18]:
# iteration 
for key,value in dic.items():
    print(key,value)

name Phitron
age 30
address Dhaka
numbers [10, 20, 30]
math_numebers 40

### Dictionary Comprehension

In [19]:
square = {x:x**2  for x in range(1,11) if x%2==0}

print(square)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [20]:
Co_ordinates = [(10,10.5),(20.5,192) , ( 101,102) ]
Locations =["dhaka" , "chattogram" , "sylhet"]

exact_location = {co_or : loc for co_or, loc in zip(Co_ordinates,Locations)}

print(exact_location)

{(10, 10.5): 'dhaka', (20.5, 192): 'chattogram', (101, 102): 'sylhet'}

### Problem Solving with In Built Structures

##### 1. Given a list of numbers, make a list with unique values.

In [21]:
lst = [10 , 20 , 10 , 30 , 30 , 50 , 30 , 10 , 20 , 10 , 10 ]

unique_values = set(lst) ## conversion

lst = list(unique_values) 

print(lst)

[10, 20, 50, 30]

##### 2. Given a string , print the frequency of the words

In [22]:
string = """data science machine learning data analysis machine 
learning statistics data models data training data validation features
features labels preprocessing data augmentation models data optimization 
gradient descent neural networks data tensors matrices visualization 
exploration pandas numpy matplotlib seaborn scikitlearn tensorflow pytorch 
deployment inference production monitoring reproducibility experiments results 
metrics accuracy precision recall f1 cross validation data machine
"""

words = string.split()

count = {} 


for word in words:
    count[word]= count.get(word,0) +1  

for k,v in count.items():
    print(f"count of {k} is {v}")

count of data is 9
count of science is 1
count of machine is 3
count of learning is 2
count of analysis is 1
count of statistics is 1
count of models is 2
count of training is 1
count of validation is 2
count of features is 2
count of labels is 1
count of preprocessing is 1
count of augmentation is 1
count of optimization is 1
count of gradient is 1
count of descent is 1
count of neural is 1
count of networks is 1
count of tensors is 1
count of matrices is 1
count of visualization is 1
count of exploration is 1
count of pandas is 1
count of numpy is 1
count of matplotlib is 1
count of seaborn is 1
count of scikitlearn is 1
count of tensorflow is 1
count of pytorch is 1
count of deployment is 1
count of inference is 1
count of production is 1
count of monitoring is 1
count of reproducibility is 1
count of experiments is 1
count of results is 1
count of metrics is 1
count of accuracy is 1
count of precision is 1
count of recall is 1
count of f1 is 1
count of cross is 1